<?php $columnsLimit = $block->getColumnsLimit() ? : 0; ?>

<?php /** @var Ibnab\MegaMenu\Block\Html\Topmega $block */
$_menu2 = $block->getHtml('level-top', 'mega', $columnsLimit) ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>
<?php $menuOcasions = $block->getOcasion() ?>

<?php if ($block->allowExtension()): ?>
    <script>

        require([
            'jquery',
            'ibnabmodernizr'
        ], function ($) {


            $('.menu > ul > li:has( > .mega-menu > ul)').addClass('menu-dropdown-icon');
            //Checks if li has sub (ul) and adds class for toggle icon - just an UI


            $('.menu > ul > li > .mega-menu > ul:not(:has(ul))').addClass('normal-sub');
            //Checks if drodown menu's li elements have anothere level (ul), if not the dropdown is shown as regular dropdown, not a mega menu (thanks Luka Kladaric)

            $(".menu > ul").before("<a href=\"#\" class=\"menu-mobile\">Navigation</a>");

            //Adds menu-mobile class (for mobile toggle menu) before the normal menu
            //Mobile menu is hidden if width is more then 959px, but normal menu is displayed
            //Normal menu is hidden if width is below 959px, and jquery adds mobile menu
            //Done this way so it can be used with wordpress without any trouble

            $(".menu > ul > li").hover(function (e) {
                if ($(window).width() > 943) {
                    $(this).children(".mega-menu").stop(true, false).fadeToggle(150);
                    e.preventDefault();
                }
            });
            //If width is more than 943px dropdowns are displayed on hover

            $(".menu > ul > li").click(function () {
                if ($(window).width() <= 943) {
                    $(this).children(".mega-menu").fadeToggle(150);
                }
            });
            //If width is less or equal to 943px dropdowns are displayed on click (thanks Aman Jain from stackoverflow)

            $(".menu-mobile").click(function (e) {
                $(".menu > ul").toggleClass('show-on-mobile');
                e.preventDefault();
            });




        });

    </script>
    <?php
    /**
     * Top menu for store
     *
     * @see \Magento\Theme\Block\Html\Topmenu
     */
    ?>
    <nav class="navigation" role="navigation" >

        <div class="menu" id="om">
            <ul class="main-categories">
                <?php /* @escapeNotVerified */ echo $_menu2; ?>
            </ul>
            <div class="menu-ocasions trigger-click">
                <a href="#" class="open-ocasions ocasions-link">
                    <img src="<?=$this->getViewFileUrl('images/hamburguer.svg');?>" alt="Ocasiões">
                    <p class="name-ocasions">
                        Compre <br>Por Ocasioes
                    </p>
                </a>
                <div class="mega-menu-ocasions">
                    <div class="max-size">
                        <div class="sidebar-categories">
                            <ul class="list-subcategories-ocasion">
                                <?php foreach($menuOcasions as $subCategory) : ?>
                                    <?php if($subCategory->hasChildren()) : ?>
                                        <li class="line-ocasion" id="<?= $subCategory->getId(); ?>">
                                            <a href="#"><?= $subCategory->getName(); ?></a>
                                        </li>
                                    <?php endif; ?>
                                <?php endforeach; ?>                             
                            </ul>
                        </div>
                        <div class="subcategories-ocasions">
                            <?php foreach($menuOcasions as $subCategory) : ?>
                                <?php if($subCategory->hasChildren()) : ?>
                                    <?php $childCategoryObj = $block->getSub($subCategory->getId()); ?>
                                    <?php $childSubcategories = $childCategoryObj->getChildrenCategories(); ?>
                                    <div class="ocasions-hover" id="<?= $subCategory->getId(); ?>">
                                        <div class="ocasions-block-left">
                                            <p>
                                                <img src="<?= $subCategory->getData('icon_category'); ?>" alt="">
                                                <?= $subCategory->getName(); ?>
                                            </p>
                                            <ul class="ocasions-subcategories">
                                                <?php foreach($childSubcategories as $childSubcategory) : ?>
                                                    <li class="ocasion-sub">
                                                        <a href="<?= $childSubcategory->getUrl(); ?>">
                                                            <?= $childSubcategory->getName(); ?>
                                                        </a>
                                                    </li>
                                                <?php endforeach; ?>
                                            </ul>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul id="dm" data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
            <?php /* @escapeNotVerified */ echo $_menu; ?>
        </ul>
    </nav>

<?php else : ?>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
        <?= /* @noEscape */ $_menu?>
        <?= $block->getChildHtml() ?>
    </ul>
</nav>
<?php endif; ?>

<script>
    require(['jquery'], function ($) {
        $('a.ocasions-link').click(function() {
            if ($(".mega-menu-ocasions").hasClass("active")) {
                $(".mega-menu-ocasions").removeClass("active");
            } else {
                $(".mega-menu-ocasions").addClass("active")
            }
        });
        
        $(".line-ocasion").hover(function() {
            $(".ocasions-hover").hide();
            
            let reffer = $(this).attr('id');
            $(".subcategories-ocasions").find("#"+reffer).show();
        });

    });
</script>